---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<style>
		.flex-container-row {
			display: flex;
			flex-direction: row;
		}
		.flex-container
		{
			display: flex;
			flex-direction: column;
		}
	</style>

	<body>
		<main>
			<div class="flex-container-row">
				<div><img src="https://avatars.githubusercontent.com/u/112530634?v=4" alt="My Profile Picture" width="1280" height="1280"></div>
				<div class="flex-container">
					<h1>Lawson Lay</h1>
					<p>
						Dynamic and detail-oriented Computer Science graduate with hands-on experience designing
						and implementing scalable network and software solutions across IoT, web, and security
						domains.
					</p>
				</div>
			</div>
			<p>Welcome to my website. Listed here soon are my projects, my resume, and other public information about me.</p>
			<p>Check out my GitHub here: <a href="https://www.github.com/LawsonLay">github.com/LawsonLay</a> </p>
			<p>Stay tuned for more stuff here, eventually.</p>
		</main>
	</body>
</html>
