---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<style>
		.flex-container-row {
			display: flex;
			flex-direction: row;
		}
		.flex-container
		{
			display: flex;
			flex-direction: column;
		}
	</style>

	<body>
		<main>
			<iframe src="https://drive.google.com/file/d/1hBAh0ZZNNrtTnclw8Qafezs0m5Cxg3hF/preview" allow="autoplay"></iframe>
		</main>
	</body>
</html>
