---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<style>
		.center{
			text-align: center;
		}
	</style>

	<body>
		<div class="center">
			<iframe src="https://drive.google.com/file/d/1hBAh0ZZNNrtTnclw8Qafezs0m5Cxg3hF/preview" width="70%" height="2160" allow="autoplay"></iframe>
		</div>
	</body>
</html>
